<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Application</title>
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css')}}"
    /> -->
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 1.5rem;
        padding: 3px;
        background-color: #f0f0f0;
      }
      pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        font-family: monospace;
        font-size: 14px;
        line-height: 1.6;
        margin: 35px;
        padding: 35px;
        background-color: beige;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow-x: auto;
      }
    </style>
  </head>
  <body>
    <div>
      <h1 style="text-align: center">File1.txt</h1>
    </div>
    <div>
      <pre>{{ content }}</pre>
    </div>
    <!-- <h1>Hello World, this is from the template</h1> -->
  </body>
</html>
